.containerTimeLine {
	width: 100%;
	height: 100%;
	background: rgb(255, 255, 255);
	border-radius: 30px;
	padding: 5%;
}

.BackgroundPaper {
	padding: 5%;
	background: #a8ff78; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #78ffd6, #a8ff78); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.elementCenter {
	display: flex;
	justify-content: center;
}

.box {
	width: 50%;
	border-radius: 5px;
	text-align: center;
	background: #00ccff;
	color: white;
	cursor: pointer;
	padding: 2%;
}
